{% extends 'layout.html' %}

{% block main %}
<!--路径导航-->
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><span>内容添加</span></li>
</ol>
<h3>内容添加</h3>
<form role="form" method="post">
    <div class="form-group">
        <label for="category">分类：</label>
        <select name="category" id="category" class="form-control">
            {% for cate in categories %}
                {% if content.category._id.toString()==cate._id.toString() %}
                <option value="{{cate.id}}" selected>{{ cate.name }}</option>
                {% else %}
                <option value="{{cate.id}}">{{ cate.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="title">标题：</label>
        <input type="text" class="form-control" id="title" value="{{content.title}}" name="title">
    </div>
    <div class="form-group">
        <label for="description">简介：</label>
        <textarea name="description" id="description" class="form-control" rows="5"
                  placeholder="请输入内容简介">{{content.description}}</textarea>
    </div>
    <div class="form-group">
        <label for="content">内容：</label>
        <textarea name="content" id="content" class="form-control" rows="10"
                  placeholder="请输入内容">{{content.content}}</textarea>
    </div>
    <button type="submit" class="btn btn-default">修改</button>
</form>
{% endblock %}
